<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #0d98bc;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <img src="./assets/images/icono.png" id="icon" alt="User Icon" width="45" height="45">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" [ngClass]="{'active': router.url === '/FRONT/home'}">
          <a class="nav-link" aria-current="page" routerLink="/home" style="color: white;">Inicio</a>
        </li>
        <li class="nav-item" [ngClass]="{'active': router.url === '/FRONT/perfil'}">
          <a class="nav-link" routerLink="/perfil" style="color: white;">Perfil</a>
        </li>
        <li class="nav-item" [ngClass]="{'active': router.url === '/mis-degustaciones'}">
          <a class="nav-link" routerLink="/mis-degustaciones" style="color: white;">Mis degustaciones</a>
        </li>

        <li class="nav-item" [ngClass]="{'active': router.url === '/degustaciones-valoradas'}">
          <a class="nav-link" routerLink="/degustaciones-valoradas" style="color: white;">Degustaciones más valoradas</a>
        </li>
      </ul>

      <div class="input-group" style="width: 350px;" role="search">
        <input class="form-control" type="search" placeholder="Buscar" aria-label="Buscar">
        <button class="btn btn-secondary" id="basic-addon2">
          <fa-icon [icon]="['fas', 'magnifying-glass']"></fa-icon>
        </button>

      </div>

      <button class="btn btn-danger m-3" (click)="pagina()" type="submit">
        <fa-icon [icon]="['fas', 'door-open']"></fa-icon>
      </button>

    </div>
  </div>
</nav>
