<!DOCTYPE html>
<html>
  <head>
    <title>Página bienvenida</title>
  </head>
  
  <body>
    <div class="container">
    <!-- Encabezado de la página --> 
    <div class="container-fluid m-2  text-center">
      <img class="portada" src="./assets/images/logotipoSinFondo.png" id="image" alt="cover photo" width="200" height="200">
    </div>

    <!-- Contenido de la página -->
    <h1 class="mt-5">¡Bienvenido a TapasTop!</h1>
    <p class="lead">La mejor manera de descubrir las mejores tapas de la ciudad</p><br>

    <div class="button-container">
      <input type="submit" class="btn btn-primary" (click)="pagina()" value="Iniciar sesión">
    </div>
      
    <!-- Funcionalidades de la página -->
    <hr>
    <div class="row mt-5">
      <div class="col-md-4">
        <h3 class="mt-5">Descubre nuevas tapas</h3>
        <p>Busca y encuentra las mejores tapas de la ciudad, y comparte tus descubrimientos con la comunidad</p>
      </div>
      <div class="col-md-4">
        <h3 class="mt-5">Valora las tapas</h3>
        <p>Califica y comenta tus tapas favoritas, y descubre qué opinan otros usuarios de los establecimientos de tu zona</p>
      </div>
      <div class="col-md-4">
        <h3 class="mt-5">Crea tu perfil</h3>
        <p>Regístrate en Valorar Tapas y crea tu perfil de usuario, guarda tus tapas favoritas y comparte tus experiencias</p>
      </div>
    </div>
    <br>
    <br>

    <!-- Información del equipo -->
    <hr>
    <h2 class="mt-5">Nuestro Equipo</h2><br>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="mt-5">Gonzalo Poza González</h5><br>
              <img src="assets/images/clodsire-pokemon-scarlet-and-violet.gif" alt="...">
            <p class="mt-5">Scrum Master y base de datos</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="mt-5">Ángel Ortuño Ibáñez</h5><br>
              <img src="assets/images/Juan_muy_sexy.jpg" alt="...">
            <p class="mt-5">Encargado de la base de datos</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="mt-5">Lucía Agueda Valvuena García</h5><br>
              <img src="assets/images/IMG_9464.jpg" alt="...">
            <p class="mt-5">Desarrollador Front-End</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="mt-5">Gonzalo Aguado Corbelle</h5><br>
              <img src="assets/images/gonzalo.png" alt="...">
            <p class="mt-5">Desarrollador Front-End</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="mt-5">Juan Paños Fernández</h5><br>
              <img src="assets/images/xmadagascar-112049_SPA-78.jpg.pagespeed.ic.qhFMrk4OmH.jpg" alt="...">
            <p class="mt-5">Desarrollador Front-End</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="mt-5">Daniel Henríquez Quesada</h5><br>
              <img src="assets/images/ec149d0c-c6d3-419d-a706-04f9424cb309.png" alt="...">
            <p class="mt-5">Desarrollador Back-End</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="mt-5">Jaime Jiménez Jiménez</h5><br>
              <img src="assets/images/alonso-toma-winner.gif" alt="...">
            <p class="mt-5">Desarrollador Back-End</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="mt-5">Jorge Torrejón López</h5><br>
              <img src="assets/images/Y9rJyYahzicAAAAASUVORK5CYII.png" alt="...">
            <p class="mt-5">Desarrollador Back-End</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  </body>

</html>
