/* Estilos generales */
  
  .container {
    max-width: 1250px;
    margin: auto;
    padding: 20px;
  }

  .contenedor {
    width: 400px; /* ancho del contenedor */
    height: 300px; /* altura del contenedor */
    border: 1px solid #ccc; /* borde para visualizar el contenedor */
    overflow: hidden; /* oculta el contenido que excede las dimensiones del contenedor */
  }

  img {
    max-width: 100%; /* asegura que la imagen no exceda el ancho del contenedor */
    max-height: 100%; /* asegura que la imagen no exceda la altura del contenedor */
    display: block; /* establece que la imagen sea un elemento de bloque */
    margin: auto; /* centra la imagen horizontalmente */
  }

  .text-center {
    text-align: center;
  }
  
  /* Estilos del encabezado */

  .portada {
    position: fixed;
    float: left;
    transform: translateX(60%);
  }
  
  header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
  }
  
  .header-title {
    font-size: 3em;
    margin: 0;
  }
  
  .header-subtitle {
    font-size: 1.5em;
    margin: 0;
  }
  
  /* Estilos del botón de inicio de sesión */

  .btn-primary {
    background-color: #0d98bc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .button-container {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    transform: translateX(-30%) translateY(30%);
  }

  input[type=button], input[type=submit], input[type=reset]  {
    background-color: #0d98bc;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 #90d7e2;
    box-shadow: 0 10px 30px 0 #90d7e2;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: #0d0655;
  }
  
  input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  /* Estilos de las características */
  
  .features {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .features h2 {
    margin-top: 0;
  }
  
  .features ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .features li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .features li:last-child {
    margin-right: 0;
  }

  h1 {
    text-align: center;
  }

  .mt-5 {
    font-weight: bold;
  }

  .lead {
    text-align: center;
  }
  
  /* Estilos del equipo */
  
  .team {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .team h2 {
    margin-top: 0;
  }
  
  .team ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .team li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .team li:last-child {
    margin-right: 0;
  }
  
  .team img {
    max-width: 200px;
    height: auto;
  }
  
  /* Estilos del pie de página */
  
  footer {
    position: relative;
    
    width: 100%;
    background-color: #90d7e2;
    text-align: center;
    padding: 10px;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    
   
    padding: 10px;
    text-align: center;
  }
  .footer {
    display: relative;
    width: 99%;
    flex-direction: column;
    margin-top: 0%;
    clear: both;
  }
  
  .footer-line {
    border-top: 2px solid #0d98bc;
    display: flex;
  
  }
  
  .footer-content {
    font-size: 15px;
    display: flex;
    margin-bottom: 1%;
    justify-content: center;
    color: #666;
    margin-top: 1%;
    font-family: 'Open Sans', sans-serif;
  }
  