<!DOCTYPE html>
<html>
  <head>
    <title>Página bienvenida</title>
  </head>
  
  <body>
    <!-- Encabezado de la página -->
    <div class="button-container">
      <input type="submit" class="btn btn-primary" (click)="pagina()" value="Iniciar sesión">
    </div>
    
    <img class="portada" src="./assets/images/logotipoSinFondo.png" id="image" alt="cover photo" width="200" height="200">

    <br>
    <br>
    <br>
    <br>
    <br>

    <!-- Contenido de la página -->
    <div class="container">
      <h1 class="mt-5">¡Bienvenido a TapasTop!</h1>
      <p class="lead">La mejor manera de descubrir las mejores tapas de la ciudad</p>
      
    <!-- Funcionalidades de la página -->
    <div class="row my-5">
      <div class="col-md-4">
        <h3>Descubre nuevas tapas</h3>
        <p>Busca y encuentra las mejores tapas de la ciudad, y comparte tus descubrimientos con la comunidad</p>
      </div>
      <div class="col-md-4">
        <h3>Valora las tapas</h3>
        <p>Califica y comenta tus tapas favoritas, y descubre qué opinan otros usuarios de los establecimientos de tu zona</p>
      </div>
      <div class="col-md-4">
        <h3>Crea tu perfil</h3>
        <p>Regístrate en Valorar Tapas y crea tu perfil de usuario, guarda tus tapas favoritas y comparte tus experiencias</p>
      </div>
    </div>

    <!-- Información del equipo -->
    <hr>
    <h2 class="my-5">Nuestro Equipo</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="assets/images/avatar1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Gonzalo Poza González</h5>
            <p class="card-text">Scrum Master y encargado de la base de datos</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="assets/images/avatar2.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Ángel Ortuño Ibáñez</h5>
            <p class="card-text">Encargado de la base de datos</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="assets/images/avatar3.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Lucía Agueda Valvuena García</h5>
            <p class="card-text">Desarrolladora Front-End</p>
          </div>
        </div>
      </div>
      </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Gonzalo Aguado Corbelle</h5>
            <div class="contenedor">
              <img src="assets/images/gonzalo.png" alt="...">
            </div>
            <p class="card-text">Desarrollador Front-End</p>
          </div>
        </div>
      </div>
    
      <div class="col-md-4">
        <div class="card">
          <img src="assets/images/avatar2.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Juan Paños Fernández</h5>
            <p class="card-text">Desarrollador Front-End</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="assets/images/avatar3.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Daniel Henríquez Quesada</h5>
            <p class="card-text">Desarrollador Back-End</p>
          </div>
        </div>
      </div>
      </div>
      <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="assets/images/avatar1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Jaime Jiménez Jiménez</h5>
            <p class="card-text">Desarrollador Back-End</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="assets/images/avatar2.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Jorge Torrejón López</h5>
            <p class="card-text">Desarrollador Back-End</p>
          </div>
        </div>
      </div>
      </div>
    
    </div>    

  </body>

  <footer>
    <div class="footer">
        <div class="footer-line">
        </div>
        <div class="footer-content">
          <div class="info-1">
            <p>2023 TapasTop - Todos los derechos reservados</p>
          </div>
        </div>
      </div>
  </footer>


</html>
