<!DOCTYPE html>
<html>

  <head>
    <title>Página forgotPassword</title>
  </head>
  
  <body>

    <div class="wrapper fadeInDown">
        <div id="formContent">
        <!-- Tabs Titles -->
            
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Recupera tu contraseña</h1><br>
                <p class="col-md-8 fs-4 mx-auto">Introduce tu correo electrónico asociado a tu cuenta</p>
            </div>
        </div>
    
    
        <form method="post">
            <input type="text" [(ngModel)]="email" id="email" class="fadeIn second" name="email" placeholder="Correo electrónico" required="required">
            <input type="submit" (click)="submit()" class="fadeIn fourth" value="Enviar">
        </form>

        <br>

        <h6>
            <a class="volver" href="/login">Volver a la página de inicio</a>
        </h6>

        <br>

        </div>
    </div>

    </body>
    
</html>
