<!DOCTYPE html>
<html>

  <head>
    <title>Página forgotPassword</title>
  </head>
  
  <body>

    <div class="wrapper fadeInDown">
        <div id="formContent">
        <!-- Tabs Titles -->
            
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Recupera tu contraseña</h1><br>
                <p class="col-md-8 fs-4 mx-auto">Introduce tu correo electrónico asociado a tu cuenta</p>
            </div>
        </div>
    
    
        <form method="post">
            <input type="text" (click)="enviado= false; error = false; procesando= false" [(ngModel)]="email" id="email" class="fadeIn second" name="email" placeholder="Correo electrónico" required="required">
            <input type="submit" (click)="submit()" class="fadeIn fourth" value="Enviar">
        </form>

        <div *ngIf="procesando" class="alert alert-primary alert-dismissible m-3 p-3" role="alert">
            <div *ngIf="enviado; else elseBlock" >
                <h4 class="alert-heading" style="text-align: left">Enviado!</h4>
                El mensaje para recordar tu contraseña ha sido enviado correctamente. Por favor, revisa tu correo y accede desde la <a routerLink="/login" class="alert-link">página de Login</a>.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <ng-template #elseBlock>
                El proceso puede llevar unos segundos...
                <div class="spinner-border" role="status">
                    <span class="sr-only"></span>
                  </div>
            </ng-template>
            
        </div>

        <div *ngIf="error" class="alert alert-danger alert-dismissible m-3 p-3" role="alert">
            <h4 class="alert-heading" style="text-align: left">Vaya...</h4>
            El correo introducido no tiene asociado ninguna cuenta. <br/> Por favor, revisa que esté escrito correctamente.

            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <br>

        <h6>
            <a class="volver" href="/login">Volver a la página de inicio</a>
        </h6>

        <br>

        </div>
    </div>

    </body>
    
</html>
