<app-navbar></app-navbar>

<body>
  <main>
    <div class="container py-4">

      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Perfil</h2>
            <img src="data:image/jpg;base64,{{foto}}" id="icon" alt="User Icon" style="width: 200px;"><br>
            <h4>{{nombre}}</h4>
            <h5>{{nombreUsuario}}</h5>
            <button class="btn btn-outline-secondary" type="button" routerLink="/perfil">Ir al perfil</button>
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Estadísticas</h2>
            <p>Estadísticas de los últimos 7 días. Gráfica
            </p>
            <button class="btn btn-outline-secondary" type="button" href="/estadisticas">Ver más estadísticas</button>
          </div>
        </div>
      </div>

      <div class="p-5 my-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h2 class="display-5 fw-bold">Mis platos favoritos:</h2>
          <p class="col-md-8 fs-4">Platos favoritos</p>
          <button class="btn btn-primary btn-lg" type="button" href="/platos">Ver todos los platos</button>
        </div>
      </div>
    </div>
  </main>
</body>